.carousel-container {
  width: 100%; /* Adjust as needed */
  margin: 0 auto; 
  max-width: 100vw;
  margin-top: 30px;
  margin-bottom: 10px;
}

.carousel-item img {
  height: 270px; 
}

/* Hide arrows (if needed) */
.slick-prev,
.slick-next {
  display: none !important; /* Force hide arrows */
}
