.mentors-container {
    padding: 20px; 
  }
  
  .mentors-title {
    text-align: center; 
    margin-bottom: 20px; 
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
    max-width: 96vw;
  }
  