.mentors-container {
    padding: 20px; 
  }
  
  .mentors-title {
    text-align: center; 
    margin-bottom: 20px; 
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(8, 5vw); */
    grid-gap: 15px;
  }